.indicatorGraphicContainer {
    height: 500px;
    width: 100vw;
    max-width: 1200px;
    margin-bottom: 4rem;
    border-bottom: 1px solid rgb(185, 185, 185);
    background-color: rgb(241, 241, 241);
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 5% 85% 5%;
    grid-template-areas:
        "max-value bar-info"
        "min-value indicatorGraphic"
        "min-value indicatorGraphic"
        "empty-space datesContainer";
}

.indicatorGraphicContainer p{
    padding: 0  0.1rem;
    font-size: 14px;
}

.mouse-hover-bar-info {
    grid-area: bar-info;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30%;
}

#maxValue {
    grid-area: max-value;
    width: 250px;
    align-self: center;
}

#minValue {
    border-top: 1px solid black;
    text-align: start;
    grid-area: min-value;
    display: flex;
    align-items: end;
    justify-content: end;
}

#datesContainer {
    grid-area: datesContainer;
    display: flex;
    justify-content: space-between;
}

#empty-space {
    grid-area: empty-space;
}

.indicatorGraphic {
    grid-area: indicatorGraphic;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.indicatorGraphic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
