.search-country-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /*text-align: center;*/
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    padding: 1rem 0 2rem 0;
}
#searchBarContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(185, 185, 185);
    /*box-shadow: 0px -1px 111px -35px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px -1px 111px -35px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 111px -35px rgba(0, 0, 0, 0.75);*/
}
