.search-country-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#searchBarContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(185, 185, 185);
}
