#SelectedCountryName{
    padding:0 1rem;
    display: flex;
    align-items: baseline;
    gap: 1rem;
    justify-content: center;
}
#countryName{
    font-size: 30px;
    font-weight: 400;
}

#no-data-to-show{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
