.graphic-horizontal-line{
    display: flex;
    gap: 1rem;
    width: 2000%;
    height: 22.5px;
    border-bottom: 1px dashed black;
    transition: all 450ms cubic-bezier(.32,.36,.45,.94);
    position: relative;
    top: -10px;
    left: 0%;
}
#horizontal-line-text-container{
    position: absolute;
    left: 5%;
    width: auto;
    display: flex;
    transition: all 250ms ease-out;
}
#horizontal-line-text-container p{
    min-width: 85px;
    font-size: 14px;
}
