/*===========================================================================================================================================*/
.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-extralight-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-light-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-extrabold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-black-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*===========================================================================================================================================*/

:root {
  font-family: Barlow, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


/*===========================================================================================================================================*/

.custom-link{
  color: black;
}

input[type="text"] {
  /* Establecer que el input ocupe todo el ancho disponible */
  width: 100%;
  max-width: 300px;

  /* Quitar el borde en todos los estados */
  border: none;
  outline: none;
  /* Eliminar el contorno al enfocar */

  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: 16px;
  border-radius: 4px;

  color: #333;
}

input[type="text"]:hover {

  /* Estilos al pasar el mouse (opcional) */
  .bi-search {
    scale: 1.05;
  }

}

input[type="text"]:focus {
  background-color: #e8e8e8;
  /* Estilos al enfocar (opcional) */
  /* Puedes añadir aquí estilos adicionales al enfocar el input */
}


/*===========================================================================================================================================*/



/*@media screen and (max-height: 950px){
  .indicatorGraphicContainer{
    height: 400px;
  }
}*/


@media screen and (max-width: 768px) {
  h1{
    font-size: 21px;
  }
  #searchBarContainer{
    flex-direction: column;
    gap: 0.5rem;
  }
  #FilteredCountriesList{
    top: 139px;
  }
  #FilteredIndicatorsList{
    top: 208px;
  }

  #countryName{
    font-size: 24px;
  }
  .indicator-name{
    font-size: 18px;
  }
  .indicator-code{
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {

  #FilteredCountriesList{
    top: 164px;
  }
  #FilteredIndicatorsList{
    top: 233px;
  }

  #countryName{
    font-size: 21px;
  }
  .indicator-name{
    font-size: 15px;
  }
  .indicator-code{
    font-size: 12px;
  }
}